<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/script.js" defer></script>
    
</head>
<body>
    <h1>WebRTC - Video Chat</h1>

    <div class="container">
        <div class="video-grid">
            
        </div>
        <video id="local-video" class="video" autoplay></video>
        <button id="btn-start" class="btn btn-primary">Open Camera</button>
    </div>
    
</body>
</html>