<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <h1>WebRTC - Video Chat</h1>

    <div class="container">
        <video id="local-video" autoplay playsinline></video>
    </div>

    <script src="../src/main.js"></script>
</body>
</html>