<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>WebRTC - Video Chat</h1>

    <div class="container">
        <div class="video-grid">
            
        </div>
        <video id="local-video" class="video" autoplay></video>
        <button id="btn-start" class="btn btn-primary">Open Camera</button>
    </div>

    <script src="js/main.js"></script>
</body>
</html>